.bantuan-container {
    display: flex;
    justify-content: space-between; /* Mengatur rata kiri-kanan */
    align-items: flex-start; /* Menyelaraskan konten ke atas */
}

.bantuan-image {
    flex-shrink: 0; /* Agar gambar tidak mengecil */
}

.jenis-bantuan-list {
    flex-grow: 1;
    padding-left: 20px; /* Memberi jarak antara gambar dan list */
    list-style: none; /* Menghilangkan bullet pada list */
    text-align: justify; /* Mengatur teks menjadi rata kiri-kanan */
    
}

.jenis-bantuan-list ul li {
    margin-bottom: 5px; /* Memberi jarak antar item list */
}

