.bg-login-image {
    background-image: url('img/bglogin.jpeg') !important;
    background-position: center;
    background-size: cover;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
}

.bglogin {
    background-color: #1A6355 ;
}

.content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 80px;
    font-size: 50px;
    font-weight: bold;
    width: 1000px;
    text-align: center;
}

